<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ZillaSlab-Regular.ttf</string>
		<string>ZillaSlab-MediumItalic.ttf</string>
		<string>ZillaSlab-Bold.ttf</string>
		<string>ZillaSlab-BoldItalic.ttf</string>
		<string>ZillaSlab-Italic.ttf</string>
		<string>ZillaSlab-Light.ttf</string>
		<string>ZillaSlab-LightItalic.ttf</string>
		<string>ZillaSlab-Medium.ttf</string>
		<string>ZillaSlab-SemiBold.ttf</string>
		<string>ZillaSlab-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
